/*-----------FONTS------------ */
$raleway: 'Raleway', sans-serif;
$openSas: 'Open Sans', sans-serif;

/*-----------COLORS------------ */
$blueEmail: hsl(217, 28%, 15%);
$blueMain: hsl(218, 28%, 13%);
$blueFooterBK: hsl(216, 53%, 9%);
$blueTestimonialBk: hsl(219, 30%, 18%);
$cyanCallTA: hsl(176, 68%, 64%);
$blueCallTA: hsl(198, 60%, 50%);
$ligthRed: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);


/*-----------FONT-SIZE------------ */
$size14: 1.4rem;
$size16: 1.6rem;
$size18: 1.8rem;
$size20: 2.0rem;

/*-----------MARGIN-PADDING-SIZE------------ */
