
.header-li-items li{
    font-size: 1.8rem;
    margin-right: 70px;
}
.header-image-logo img {
    width: 200px;
    margin: 60px 0 60px 60px;
}

.main-section-image img{
    width: 630px;
}
.main-section-title h1 {
    width: 55%;
}
.main-section-description P {
    width: 50%;
}
.cards-sections {
    flex-direction: row;
    text-align: center;
    align-items: baseline;
}
.stay-produc-container {
    flex-direction: row;
    align-items: end;
}
.stay-produc-container img {
    width: 783px;
    margin-left: 73px;

}
.stay-produc-descrp h2 {
    font-size: 3.8rem;
    width: 50%;
    margin-left: 90px;
}
.stay-produc-descrp p {
    font-size: 2.5rem;
    margin-left: 90px;
    width: 85%;
}
.stay-produc-descrp .stay-product-call {
    width: 32%;
}
.stay-produc-descrp {
    margin-top: 122px;
    margin-left: 206px;
}

.main-opinions-cards {
    flex-direction: row;
}
.card-container {
    margin: 85px 20px 0 85px;
}
